<head>
    <title>Endeal</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
</head>

<body>
    <script>
        Smooch.init({ appToken: 'a86ejtk44ykq2bijgakgzsoys' });
    </script>
</body>

<template name="page">
    <header>
        <nav class="red darken-2">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/">
                        <img class="logo reponsive-img hide-on-med-and-down" src="/images/logo.png"/> 
                    </a>
                    <a href="/" class="brand-logo"> Endeal</a>
                    <a href="#" data-activates="collapsable-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/products">Products</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/connect">Connect</a></li>
                        <li><a href="/jobs">Jobs</a></li>
                    </ul>
                    <ul class="side-nav" id="collapsable-menu">
                        <li><a href="/products">Products</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/connect">Connect</a></li>
                        <li><a href="/jobs">Jobs</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {{> yield "content"}}
    </main>
    <footer class="page-footer red darken-2">
        <div class="container">
            <div class="row">
                <h6 class="right grey-text text-lighten-3">1480 Olympic Street, Simi Valley CA 93063 <i class="mdi-social-location-city"></i></h6>
            </div>
        </div>
    </footer>
</template>
