<template name="about">
    <div class="container">
        <!-- Mission -->
        <h3>Mission</h3>
        <p class="flow-text">Endeal is committed to optimizing the way people interact with each other. The prefix "en" in the
        English language means for one party to facilitate another's transition into another state.
        We would like to be the facilitators of people dealing with each other- make the process a little smoother,
        using all the beautiful advantages of modern technology to their fullest potential.</p>
        <p class="flow-text">We hope that our software is an adequate reflection of this goal, as we strive to improve
        its quality and hopefully have an impact on making your day a little brighter.</p>
        <div class="row">
            <img class="col s12" src="https://ununsplash.imgix.net/photo-1429043794791-eb8f26f44081?q=75&fm=jpg&w=1080&fit=max&s=834ddc06731cd5c7c0176851cc3599fb">
        </div>

        <!-- Press -->
        <!--
        <h3>Press</h3>
        <p class="flow-text">We've had some benevolent folks generously write about us. If you appreciate
        good writing or wanna know what people think of us and our products, look no further.</p>

        <div class="collection with-header">
            <li class="collection-header"><h5>Patron Reviews</h5></li>
            <a href="http://www.engadget.com" class="collection-item">Engadget</a>
            <a href="http://www.theverge.com" class="collection-item">The Verge</a>
        </div>
        -->
    </div>
</template>
