<template name="connect">
    <div class="container">
        <p class="flow-text">Connect with us on social media!</p>
        <p class="flow-text">We'll post cool stuff you'll like.</p>
        <ul class="collection with-header">
            <li class="collection-header">
                <h4>Connect for updates on Patron and Vendor</h4>
            </li>
            <a target="_blank" href="http://endeal.blogspot.com" class="collection-item">Blogger</a>
            <a target="_blank" href="https://www.facebook.com/TheEndeal" class="collection-item">Facebook</a>
            <a target="_blank" href="http://www.twitter.com/TheEndeal" class="collection-item">Twitter</a>
            <a target="_blank" href="https://plus.google.com/b/118162879377821909893/118162879377821909893" class="collection-item">Google+</a>
            <a target="_blank" href="http://www.youtube.com/channel/UCNQrXa_tEbMgTdqy3u3-42w" class="collection-item">Youtube</a>
            <a target="_blank" href="http://www.instagram.com/TheEndeal" class="collection-item">Instagram</a>
            <li class="collection-item">
                <a href="mailto:general@endeal.mailclark.ai">Business Contact E-mail</a>
            </li>
            <li class="collection-item">Business Phone Line: <a href="tel:12014250512">+1 (201) 425-0512</a></li>
            <li class="collection-item">Mailing Address: 1480 Olympic Street, Simi Valley CA 93063</li>
        </ul>
    </div>
</template>
