<div layout="column" layout-fill layout-sm="column">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <h1 class="md-toolbar-tools">Endeal</h1>
        </div>
    </md-toolbar>
    <md-tabs class="md-accent">
        <md-tab id="tabProducts">
            <md-tab-label>Products</md-tab-label>
            <md-tab-template>
                <div ng-include="'client/views/products.ng.html'"></div>
            </md-tab-template>
        </md-tab>
        <md-tab id="tabContact">
            <md-tab-label>Contact</md-tab-label>
            <md-tab-template>
                Contact Us
            </md-tab-template>
        </md-tab>
        <md-tab id="tabAbout">
            <md-tab-label>About</md-tab-label>
            <md-tab-template>
                About us
            </md-tab-template>
        </md-tab>
    </md-tabs>
</div>
