<template name="intro">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="/images/intro-slider-1.jpg">
                <div class="caption center-align">
                    <h3 class="light grey-text text-lighten-4">Welcome to Endeal</h3>
                    <!--
                    <h5 class="light grey-text text-lighten-3"></h5>
                    -->
                </div>
            </li>
            <li>
                <img src="/images/intro-slider-2.jpg">
                <div class="caption left-align">
                    <h5 class="light grey-text text-lighten-4">Download Patron today!</h5>
                </div>
            </li>
            <li>
                <img src="/images/intro-slider-3.jpg">
                <div class="caption right-align">
                    <h5 class="light grey-text text-darken-4">Sell stuff? Download Vendor!</h5>
                </div>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="section">
            <h5>Welcome to our company website.</h5>
            <p class="flow-text">If you're looking for the scoop on our products, job opportunities, or anything else related to our business, you've come to the right place.
             Whatever info you're looking for should be a breeze to find.</p>
        </div>
    </div>
</template>
