<template name="patron">
    <div class="container">
        <h2>Patron</h2>
        <div class="center">
            <div class="slider center">
                <ul class="slides center">
                    <li>
                        <img src="/images/patron-1.png"/>
                    </li>
                    <li>
                        <img src="/images/patron-2.png"/>
                        <div class="caption left-align">
                            <h5 class="light grey-text text-lighten-4">Location awareness automatically detects<br/>
                            menu for wherever you're at</h5>
                        </div>
                    </li>
                    <li>
                        <img src="/images/patron-3.png"/>
                        <div class="caption right-align">
                            <h5 class="grey-text text-lighten-1">Service, pickup, delivery-<br/>
                            get your order how you want it</h5>
                        </div>
                    </li>
                    <li>
                        <img src="/images/patron-4.png"/>
                        <div class="caption left-align">
                            <h5 class="light grey-text text-lighten-4">Connect with your favorite vendors<br/>
                            on Facebook, Twitter, and Google+</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section">
            <h4>Description</h4>
            <p class="flow-text"> 
            Patron is your universal waiter- just walk into your favorite restaurant,
            bar, or store, open the app, and buy anything off the menu, totally bypassing 
            any front counter employees, bartenders, or waitresses. 
            Get it delivered to the table you're sitting at, take it to go, or get 
            it delivered right to your home. You can give tips, send a comment with 
            your order, give direct feedback to the vendor, earn vouchers targeted to 
            your tastes, keep track of reward points, and share your favorite places 
            and items on social media.
            </p>
        <div class="divider"></div>
        </div>
        <div class="section">
            <h4>Requirements</h4>
            <p class="flow-text">Credit/Debit Card to purchase from vendors</p>
            <div class="divider"></div>
        </div>
        <div class="section">
            <h4>Version</h4>
            <p class="flow-text">1</p>
            <div class="divider"></div>
        </div>
        <div class="section">
            <h4>Price</h4>
            <p class="flow-text">Free</p>
            <div class="divider"></div>
        </div>
        <div class="section">
            <h4>Platforms</h4>
            <p class="flow-text">
            &bull; Android 2.3.3+
            <br/>
            &bull; iOS 8.0+
            </p>
            <div class="divider"></div>
        </div>
        <div class="section">
            <h4>Links</h4>
            <p class="flow-text">
            <a href="https://play.google.com/store/apps/details?id=com.endeal.patron">Download from Google Play</a><br/>
            <a href="https://appsto.re/us/w-jK-.i">Download from App Store</a><br/>
            <a href="/products/patron/privacy-policy">Privacy Policy</a><br/>
            <a href="/products/patron/terms-of-service">Terms of Service</a>
            </p>
            <br/>
            <div class="divider"></div>
        </div>
        <div class="section">
            <h4>Support</h4>
            <p class="flow-text">
            <a href="mailto:patron-support@endeal.mailclark.ai">
                Support E-mail
            </a><br/>
            <a href="tel:12014254883">Support Phone Line: +1 (201) 425-4883</a>
            </p>
            <div class="divider"></div>
        </div>
        <div class="section">
            <h4>FAQ</h4>
        </div>
    </div>
</template>
