<template name="patron">
    <div class="container">
        <h2>Patron</h2>
        <div class="center">
            <div class="slider center appScreenshots">
                <ul class="slides center">
                    <li>
                        <img src="/images/patron-1.png"/>
                    </li>
                    <li>
                        <img src="/images/patron-2.png"/>
                    </li>
                    <li>
                        <img src="/images/patron-3.png"/>
                    </li>
                    <li>
                        <img src="/images/patron-4.png"/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section">
            <h4>Description</h4>
            <p class="flow-text"> 
            Patron is your universal waitress- just walk into your favorite restaurant,
            bar, or store, open the app, and buy anything off the menu, totally bypassing 
            any front counter employees, bartenders, or waitresses. 
            Get it delivered to the table you're sitting at, take it to go, or get 
            it delivered right to your home. You can give tips, send a comment with 
            your order, give direct feedback to the vendor, earn vouchers targeted to 
            your tastes, keep track of reward points, and share your favorite places 
            and items on social media.
            </p>
        <div class="divider"></div>
        </div>
        <div class="section">
            <h4>Requirements</h4>
            <p class="flow-text">Credit/Debit Card to purchase from vendors</p>
            <div class="divider"></div>
        </div>
        <div class="section">
            <h4>Version</h4>
            <p class="flow-text">1</p>
            <div class="divider"></div>
        </div>
        <div class="section">
            <h4>Price</h4>
            <p class="flow-text">Free</p>
            <div class="divider"></div>
        </div>
        <div class="section">
            <h4>Platforms</h4>
            <p class="flow-text">
            &bull; Android 2.3.3+
            <br/>
            &bull; iOS 7.0+
            </p>
            <div class="divider"></div>
        </div>
        <div class="section">
            <h4>Links</h4>
            <p class="flow-text">
            <a href="https://play.google.com/store/apps/details?id=com.endeal.patron">Download from Google Play</a><br/>
            <a href="/privacy-policy">Privacy Policy</a><br/>
            <a href="/terms-of-service">Terms of Service</a>
            </p>
            <br/>
            <div class="divider"></div>
        </div>
        <div class="section">
            <h4>Support</h4>
            <p class="flow-text">E-mail <a href="mailto:admin@endeal.me">admin@endeal.me</a> if you're having any support issues.</p>
            <div class="divider"></div>
        </div>
        <div class="section">
            <h4>FAQ</h4>
        </div>
    </div>
</template>
