<div layout="column" layout-fill layout-sm="column" ng-controller="ProductsController">
    <div layout="row" layout-fill>
        <md-card>
            <img src="http://i.imgur.com/kQX57Zn.png" class="md-card-image" alt="Patron" />
            <md-card-content>
                <md-button class="md-raised" layout-fill ng-click="navigatePatron()">Patron</md-button>
                <h2 class="md-title">Patron for Android</h2>
                <p>Patron is an app for Android. Click here to download it!</p>
            </md-card-content>
        </md-card>
        <md-card ng-click="navigateVendor()">
            <img src="http://i.imgur.com/kQX57Zn.png" class="md-card-image" />
            <md-card-content>
                <h2 class="md-title">Vendor for iOS</h2>
                <p>Vendor is an app for iOS. Click here to download it!</p>
            </md-card-content>
        </md-card>
    </div>
</div>
