<template name="products">
    <div class="row container">
        <div class="card large col s12 m4">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="/products/patron-for-android"><img src="/images/products-patron-for-android.png"></a>
            </div>
            <div class="card-content">
                <span class="card-title grey-text text-darken-4"><a href="/products/patron-for-android">Patron for Android</a></span>
            </div>
            <div class="card-action">
                <!--
                <a href="https://play.google.com/store/apps/details?id=me.endeal.patron">Download from Google Play</a>
                -->
                <a href="#">Not yet available</a>
            </div>
        </div>
        <div class="card large col s12 m4">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="/products/patron-for-ios"><img src="/images/products-patron-for-ios.png"></a>
            </div>
            <div class="card-content">
                <span class="card-title grey-text text-darken-4"><a href="/products/patron-for-ios">Patron for iOS</a></span>
            </div>
            <div class="card-action">
                <a href="#">Not yet available</a>
            </div>
        </div>
        <div class="card large col s12 m4">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="/products/vendor-for-ios"><img src="/images/products-vendor-for-ios.png"></a>
            </div>
            <div class="card-content">
                <span class="card-title grey-text text-darken-4"><a href="/products/vendor-for-ios">Vendor for iOS</a></span>
            </div>
            <div class="card-action">
                <a href="#">Not yet available</a>
            </div>
        </div>
    </div>
</template>
