<template name="products">
    <div class="row container">
        <div class="card large col s12 m5">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="/products/patron"><img src="/images/products-patron.png"></a>
            </div>
            <div class="card-content">
                <span class="card-title grey-text text-darken-4"><a href="/products/patron">Patron</a></span>
            </div>
            <div class="card-action">
                <a href="https://play.google.com/store/apps/details?id=com.endeal.patron">Download from Google Play</a>
                <a href="http://bit.ly/patron-ios">Download from App Store</a>
            </div>
        </div>
        <div class="card large col s12 m5 offset-m2">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="/products/vendor"><img src="/images/products-vendor.png"></a>
            </div>
            <div class="card-content">
                <span class="card-title grey-text text-darken-4"><a href="/products/vendor">Vendor</a></span>
            </div>
            <div class="card-action">
                <a href="http://bit.ly/vendor-ios">Download from App Store</a>
            </div>
        </div>
    </div>
</template>
